# =========================================================
# IntelliJ IDEA
# =========================================================
.idea/
*.iml

# =========================================================
# Maven
# =========================================================
target/

# =========================================================
# Logs
# =========================================================
*.log

# =========================================================
# Operating System Files
# =========================================================
.DS_Store
Thumbs.db

# =========================================================
# Executables / Archives
# =========================================================
*.exe
*.msi
*.zip
*.rar

# =========================================================
# Test Reports
# =========================================================
test-output/

# =========================================================
# Screenshots
# =========================================================
screenshots/

# =========================================================
# Runtime Generated Test Data
# =========================================================
src/test/resources/generated-test-data.properties